Adafruit-Blinka==6.5.0
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-mcp3xxx==1.4.5
Adafruit-PlatformDetect==3.7.0
Adafruit-PureIO==1.1.8
pyftdi==0.52.9
pyserial==3.5
python-decouple==3.4
pyusb==1.1.1
rpi-ws281x==4.2.6
RPi.GPIO==0.7.0
sysv-ipc==1.1.0
